
 .video-Container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    padding: 4rem;
 }
.user-Video{
    width: 20rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
}
 .detect-Btn{
    cursor: pointer;
    padding: 0.6rem 1rem;
    background-color: #8D5F8C;
    border-radius: 40px;
    border : none;
    font-size: 1.5rem;
    color: white;
 }
 .detect-Btn:active {
   background-color: #6B3F69;
 }



 /* Mobile */
@media screen and (max-width : 576px ) {
    .video-Container{
    flex-direction: column;
 }
}

/* Tablet Portrait*/
/* @media screen and (max-width : 768px ) {
    
} */

/* Tablet Landscape */
/* @media screen and (max-width : 992px ) {
    
} */

/* Laptop */
/* @media screen and (max-width : 1200px ) {
    
} */

/* Large desktop */
/* @media screen and (max-width : 1400px ) {
    
} */